/* src/App.css */
.App {
  text-align: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  margin: 20px;
}
body.blue-background {
  background-color: blue;
}

.image-container {
  margin: 20px;
}

.image-container img {
  width: 300px;  /* Set the desired width */
  height: 400px; /* Set the desired height */
  object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
  transition: transform 0.3s;
}

.image-container img:hover {
  transform: scale(1.05);
}
.App {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.heart-rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('assets/heart.png'); /* Relative path to the image */
  background-size: contain;
  animation: falling 3s linear infinite;
}


@keyframes falling {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  100% {
      transform: translateY(100vh);
      opacity: 1;
  }
}
